.qwe {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	background-attachment: fixed;
	background-image: url(../Other%20Files/%D0%BA%D0%BE%D1%82.jpg);
	background-repeat: repeat;
	background-position: center top;
}
